{{ with .}}
  <section class="block-cta"{{ partial "func/SetAnim" (dict "element" "block") }}>
    <div class="container">
      {{ with .cta }}
        {{ $blank := .blank | default false }}
        {{ $title := i18n "link.blank_aria" (dict "Title" (partial "func/PrepareHTML" .text)) }}
        {{ if and .url .text }}
          <a {{ printf "href=%q" .url | safeHTMLAttr }} class="btn"{{ if $blank }} target="_blank" title="{{ $title }}"{{ end }}>
            <span class="surtitle">{{- partial "func/PrepareHTML" .surtitle -}}</span>
            <span>{{- partial "func/PrepareHTML" .text -}}</span>
          </a>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
