<section class="block-pages"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ with .items }}
    <div class="items">
      {{ range $index, $item := . }}
        <div>

          <div class="push">

            {{ with .url }}
              <a href="{{ . }}">
            {{ end }}

            {{ if .title  }}
              <div class="content">
                {{- with .title }}
                  <h2>{{ partial "func/PrepareHTML" . }}</h2>
                {{ end -}}
              </div>
            {{ end }}

            {{ with .image }}
              {{- $lazy := true -}}
              {{- $column := 1.5 -}}
              {{- if eq $index 0 }}
                {{- $lazy = false -}}
              {{- end }}
              {{- if mod $index 3 }}
                {{- $column = 3 -}}
              {{- end }}
              {{- $columnTotal := site.Params.column | default false -}}
              {{- $desktop := site.Params.container.desktop | default false -}}
              {{- $mobile := site.Params.container.mobile | default false -}}
              {{- if $desktop }}
                {{- $width := partial "func/GetColumnWidth" (dict "column" (div $columnTotal $column)) -}}
                {{- $desktop = printf "%sx410" (string $width) -}}
                {{- if mod $index 3 }}
                  {{- $desktop = printf "%sx%s" (string $width) (string $width) -}}
                {{- end }}
              {{- end }}
              {{- if $mobile }}
                {{- $mobile = printf "%sx%s" (string $mobile) (string (mul $mobile .75)) -}}
              {{- end }}

              {{- $args := merge . (dict "desktop" $desktop "mobile" $mobile "lazy" $lazy) -}}
              {{ partial "commons/image" $args }}
            {{ end }}

            {{ with .url }}
              </a>
            {{ end }}
            
          </div>

        </div>
      {{ end }}
    </div>
    {{ end }}

  </div>
</section>