<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Book",
    "bookFormat": "EBook",
    {{ with .Title }}
      "headline": {{ partial "func/PrepareData" . }},
      "name": {{ partial "func/PrepareData" . }},
    {{ end }}

    {{ with .Params.image }}
      "thumbnailUrl": {{ .src | absURL }},
    {{ end }}

    {{ with .Date }}
      "datePublished": {{ . }},
    {{ end }}

    {{ with .Params.description }}
      "description": {{ partial "func/PrepareData" . }},
    {{ end }}

    {{ with .Content }}
      "articleBody": {{ partial "func/PrepareData" . }},
    {{ end }}

    "author": {
      "@type": "Person",
      "name": {{ site.Title }},
      "url": {{ site.BaseURL }}
    }

  }
</script>