<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Book",
    "bookFormat": "EBook",
    {{ with .Title }}
      "headline": {{ . | plainify | safeHTML }},
      "name": {{ . | plainify | safeHTML }},
    {{ end }}

    {{ with .Params.image }}
      "thumbnailUrl": {{ . | absURL }},
    {{ end }}

    {{ with .Date }}
      "datePublished": {{ . }},
    {{ end }}

    {{ with .Params.description }}
      "description": {{ . | plainify | safeHTML }},
    {{ end }}

    {{ with .Content }}
      "articleBody": {{ . | plainify | safeHTML }},
    {{ end }}

    "author": {
      "@type": "Person",
      "name": {{ site.Title }},
      "url": {{ site.BaseURL }}
    }

  }
</script>