{{ $desktop := site.Params.ebooks.thumbnail.desktop | default false }}
{{ $mobile := site.Params.ebooks.thumbnail.mobile | default false }}
{{ if .Scratch.Get "scrollsnap" }}
  {{ $mobile = site.Params.ebooks.thumbnail.scrollsnap | default false }}
{{ end }}
{{ $lazy := true }}
{{ if .Scratch.Get "notLazy" }}
  {{ $lazy = false }}
{{ end }}
<div class="media">
  {{ with .Params.image}}
    {{ partial "commons/image.html" (dict
      "src" .src
      "alt" .alt
      "desktop" $desktop
      "mobile" $mobile
      "itemprop" "image"
      "lazy" $lazy
    ) }}
  {{ end }}
</div>