<div class="top">
  <div class="container">
    <div class="row">
      <div>
        {{ partialCached "footer/description.html" . }}
      </div>
      <div>
        <p class="surtitle">{{ i18n "contact.title" }}</p>
        <p><em>mail</em> - <a href="/contact">contact@miriamlasserre.com</a></p>
        <p><em>tel</em> - <span>+33.6.47.19.72.35</span></p>
        {{ partialCached "footer/newsletter.html" . }}
        {{ partialCached "nav/social.html" . }}
      </div>
    </div>
  </div>
</div>
