.hero
    .container
        padding-bottom: 0
    .row
        flex-direction: column-reverse
        text-align: center
    &-media
        @include margin-bottom($global-spacing)
        @extend .col-xl-8
        margin-left: 0